.JATM-holder{
	border: 1px solid #ffffff;
	padding:10px;
	width:100%;
	height:200px;
	overflow: auto;
}

.JATM-holder div{
	padding:6px;
}

.JATM-holder div:hover{
	cursor: pointer;
	background-color: beige;
	border-radius: 4px;
	color: #333;
}
